@import url(./src/styles/header.css);
@import url(./src/styles/login.css);
@import url(./src/styles/footer.css);

* {
    font-family: 'Rubik', sans-serif;
    font-size: 100%;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
}

.background-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(src/image/bg-login-netflix.jpg);
    background-repeat: no-repeat;
}





